<%= form_with(model: withdrawal) do |form| %>
  <% if withdrawal.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(withdrawal.errors.count, "error") %> prohibited this withdrawal from being saved:</h2>

      <ul>
        <% withdrawal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :account_id, style: "display: block" %>
    <%= form.text_field :account_id %>
  </div>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.text_field :amount %>
  </div>

  <div>
    <%= form.label :transaction_date, style: "display: block" %>
    <%= form.date_field :transaction_date %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
